@import "./Responsive.scss";

.inputSearch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerContent {
  margin-top: 40px;
}

.cards {
  margin: 0 auto;
  display: grid;
  gap: 1rem;

  // @include Responsive(xl) {
  //   grid-template-columns: repeat(4, minmax(0, 1fr));
  // }

  // @include Responsive(md) {
  //   grid-template-columns: repeat(3, 1fr);
  // }

  @include Responsive(sm) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    img {
      width: 100%;
      height: 100px;
      object-fit: cover;
    }
  }

  // @include Responsive(xs) {
  //   grid-template-columns: repeat(4 1fr);
  // }
}
